{% extends "frontend/layout.njk.html" %}

{% block title %} post {% endblock %}
{% block content %}

{% block meta %} 
<meta property="og:title" content="{{ post[0].title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{currentUrl}}"/>
<meta property="og:image" content="{{ post[0].avatar }}"/>

{% endblock %}

<div class="post-details-content bg-white mb-30 p-30 box-shadow">
        <div class="blog-content">
            <div class="post-meta row justify-content-between">
                <p><i class="far fa-clock"></i>  {{post[0].created_at.toLocaleString()}}</p>
                <div class="fb-share-button" id="share" data-href="{{currentUrl}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
            </div>
            <h2 class="post-title">{{ post[0].title }}</h2>
            <!-- Post Meta -->
            <div class="post-meta-2">
                    
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{ views }}</a>

                {% if liked.length %}
                <i class="far fa-thumbs-up fa-lg like" id="{{post[0].id}}"  style="color: red"></i>
                    {% if likes.length > 1 %}
                    <span id="likes">Bạn và </span> <span>{{likes.length -1}} người thích trang này</span>
                    {% else %}
                    <span id="like">Bạn đã thích trang này</span>
                    {% endif %}
                
                {% else %}
                <i class="far fa-thumbs-up fa-lg like" id="{{post[0].id}}"></i>
                    {% if likes.length >= 1%}
                    <span id="likes"></span> <span>{{likes.length}} người thích trang này</span>
                    {% else %}
                    <span id="like">Hãy là người đầu tiên thích trang này</span>
                    {% endif %}
                {% endif %}
                
                
            </div>
            <div>
                    <h6 >{{ post[0].description }}</h6>
            </div>
            <div id="content">
                {{ post[0].content | safe}}
            </div>
            <!-- Post Author -->
            <div class="post-author d-flex align-items-center">
                <div class="post-author-thumb">
                </div>
                <div class="post-author-desc pl-4">
                </div>
            </div>
        </div>
    </div>

    <!-- Related Post Area -->
            
    <!-- Comment Area Start -->
    <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>COMMENTS</h5>
        </div>
        <ol>
            {% for item in comments %}
            <!-- Single Comment Area -->
            <li class="single_comment_area" id="comment{{item.id}}">
                <!-- Comment Content -->
                <div class="comment-meta">
                        <h6>{{item.fullname}}</h6>
                        <p>{{ item.created_at.toLocaleString() }}</p> 
                        {% if item.fullname == user.fullname %} 
                        <a  class="float-right
                        deletecomment " id="{{item.id}}"><i class="fas fa-trash-alt "></i></a>
                        <a  class="float-right mr-3 editcomment"  id="{{ item.id}}"><i class="fas fa-edit"></i></a>
                        {% elseif user.role == 'admin' or user.role == 'super admin' %}
                        <a  class="float-right
                        deletecomment " id="{{item.id}}"><i class="fas fa-trash-alt "></i></a>
                        {% endif %}  
                </div>
                <div class="comment-content d-flex ml-5">
                    <div class="comment-meta w-100" id="contentcomment{{item.id}}">             
                        <p id="detai{{item.id}}" style="word-wrap: break-word">{{ item.content }}</p>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>

    <!-- Post A Comment Area -->
    <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>LEAVE A REPLY</h5>
        </div>

        <!-- Reply Form -->
        

        {% if user %}
        <div class="contact-form-area">
            <form action="/comment?idpost={{post[0].id}}" method="post">
                <div class="row">
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message*" required></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn mag-btn mt-30 btn-info" type="submit">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>       
        {% else %}
        <h5>Login to comment</h5>
        {% endif %}
    </div>
    {% block footer %}
    <script type="text/javascript">
       $(function (){

            $('.editcomment').click(function() {
                let click = $(this);
                let idComment = click.attr( "id" );
                $('#contentcomment'+idComment).html('<textarea class="form-control bg-light border-1 small" rows="3" id="textarea'+idComment+'">' +$('#detai'+ idComment).html() + '</textarea>');
                     
                $('#textarea'+idComment).keypress(function(even) {
                    if (event.keyCode == 13) {
                        let contentComment = $('#textarea'+idComment).val();
                        $.ajax({
                                url: "/editcomment",
                                data: { message : contentComment,
                                        id      :idComment
                                },
                                type: 'POST',
                                success: function(result){
                                    $('#contentcomment'+idComment).html('<p>'+ result +'</p>');
                                }
                        });
                    }
                    
                })
            });

            $('.deletecomment').click(function() {
            let click = $(this);
            let idComment = click.attr( "id" );
            let answer = confirm('do  you want delete');
            if (answer) {
                    $.ajax({
                        url: "/deletecomment",
                        data: { id:idComment },
                        type: 'POST',
                        success: function(result){
                            if (result) {
                                $('#comment'+idComment).hide();
                            }else{
                                alert('fail');
                            }
                        }
                    });
                }
            });

            $('.like').click(function() {
            var idPost = $('.like'). attr("id");
                $.ajax({
                    url: "/like",
                    data:{
                            idpost  :idPost 
                        },
                    type: 'POST',
                    success: function(result){
                        if (!result) {
                            alert('you need login to like');
                        }else if (result == "like") {
                            $('.like').css("color", "red");
                            $('#likes').html("Bạn và");
                            $('#like').html('Bạn đã thích trang này')
                        }else if(result == "unlike"){
                            $('.like').css("color", "");
                            $('#like').html("Hãy là người đầu tiên thích trang này");
                            $('#likes').html("");
                        }

                    }
                });
            });
        })
    </script>
    {% endblock %}
    
{% endblock %}