{% extends "frontend/base.njk.html" %}
{% block title %}
Login kenh69
{% endblock %}
{% block body %}
<body class="">
    <div class="col-md-6 col-md-offset-3 mt-5" style="margin: auto ;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Form Login</h1>
            </div>
            {% if checkEmpty %}
            <h4 class="text-danger"> {{checkEmpty}} </h4>
            {% elif notFoundUser %}
            <h4 class="text-danger">{{ notFoundUser }}</h4>
            {% endif %}


            <div class="panel-body">
                <div>
                    <form action="/handlelogin" method="post">
                        <div class="form-group ">
                            <label for="username">username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="username" value="" required/>   
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="password" value="" required/>

                        </div>
                        <div class="text-center col-md-4 mx-auto">
                          <input type="submit" value="Login" class="btn btn-success btn-block"/>

                        </div>
    
                    </form>
                    
                </div>
                <div class="text-center my-2">
                  <h5>or</h5>
                </div>
                <div class=" text-center">
                  
                   <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"  onlogin="checkLoginState()"></div>
               
                </div>
                <a href="/register" class="float-right"> DON'T HAVE AN ACCOUNT? REGISTER NOW!  </a>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block footer %}
<div id="fb-root"></div>
<script type="text/javascript" src="../public/js/jquery/jquery.min.js"></script>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      console.log(response);
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1125796560955977',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v3.3' // The Graph API version to use for the call
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me',{ fields: 'id,first_name,last_name,email,picture.width(200).height(200)'},
    function(response) {
      console.log(response)
      $.ajax({
        url: "/loginfb",
        data: {data: response},
        type: 'POST',
        success: function(results) {
          window.location.href = 'https://kenh69.sphinx-demo.com';
        }
      })     

    });
  }
</script>
{% endblock %}

