{% extends "admin/layout.njk.html" %}

{% block title %}
Add Post
{% endblock %}

{% block content %}
<style>
</style>
<h1>Page add post </h1>
<form action="/admin/uploadimages" method="POST" enctype ="multipart/form-data">
        <input type="file" name="image" multiple="multiple" class="btn" accept="image/*" required>
        <button type="submit" class="btn btn-secondary">upload images to sever</button>
</form>
<hr class="my-3">
<form action="/admin/handleaddpost" method="POST" enctype ="multipart/form-data">
<div class="row mx-1">
        <div class="col-md-3">
                <div class="form-group">
                        <label for="title"> Title : </label>
                        <textarea class="form-control" name="title" id="title" rows="5" required maxlength="80" placeholder="Tối đa 80 kí tự"></textarea>
                </div>
                <div class="form-group border-top">
                        <p> Categories : </p>
                        {% for item in categories %}
                        <div>
                                <input type="radio" name="cattegory" id="cattegory" value="{{ item.id }}" checked="checked">
                                <label for="cattegory">{{ item.name }}</label>
                        </div>
                        {% endfor %}
                </div>
                <div class="form-group ">
                        <label for="avatar">Avatar post</label>
                        <input type="file" name="avatar" id="avatar"  accept="image/*" required>
                </div>
                <div class="form-group border-top mt-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="5" required maxlength="120" placeholder="tối đa 120 kí tự"></textarea>
                </div>
        </div>	
        <div class="col-md-9 form-group">
                <label for="content">Content</label>
                <textarea class="content" name="content" id="texteditor" ></textarea>
        </div>
        <div class="col-md-6 offset-md-3 mt-3 mb-3">
                <button type="submit" class="btn btn-primary btn-block" id="addpost"> ADD POST + </button>
        </div>
</div>
</form>
{% endblock %}
{% block bottom %}

<script> 

CKEDITOR.replace('texteditor', {
	"extraPlugins" : 'imagebrowser',
        "imageBrowser_listUrl" : "/files"
});



</script>
{% endblock %}