{% extends "admin/layout.njk.html" %}

{% block title %}
  Category
{% endblock %}

{% block content %}
<h1>This is Category Page Manager</h1>
<div class="col-md-8 mx-auto mt-5">
    <div class="row tex">
        <div class="col-md-8 float left">
          <a href="/admin/addcategory" class="btn btn-primary"> Add category + </a>
          <h3 class="text-danger">{{ err }}</h3>
        </div>
      </div>
<table class="table">
  <thead>
      <tr>
          <th>Id Category</th>
          <th>Name Category</th>
          <th colspan="2" width="3%" class="text-center">Action</th>
      </tr>
  </thead>
  <tbody>
      {% for item in categorys %}
      <tr id="row{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <a href="/admin/editcategory?id={{ item.id }}&name={{ item.name }}" class="btn btn-info" >Edit</a>
        </td>
        <td>
          <button class="btn btn-danger btnDelete" id="{{ item.id }}">Delete</button>
        </td>
      </tr>
      {% endfor %}
  </tbody>
  <tbody>
</table>
</div>
{% endblock %}
{% block bottom %}
<script type="text/javascript">
  $(function (){
    $('.btnDelete').click(function() {

      let click = $(this);
      let idCate = click.attr( "id" );
      let answer = confirm('do  you want delete');
        if (answer) {
					$.ajax({
						url: "/admin/deletecategory",
						data: { id:idCate },
            type: 'POST',
						beforeSend: function(){
							click.text('loading...');
						},
						success: function(result){
              if (result) {
                alert('success')
                $('#row'+idCate).hide();
              }else{
                alert('fail');
              }
              
						}
          });
        }
      });
      
  })
</script>
{% endblock %}