{% extends "admin/layout.njk.html" %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
<style>
</style>
<h1>Page edit post </h1>
<hr class="my-3">
<form action="/admin/handleeditpost" method="POST">
<div class="row mx-1">
        <div class="col-md-3">
                <div class="form-group">
                        <label for="title"> Title : </label>
                        <textarea  class="form-control" name="title" id="title" rows="5">{{ dataPost[0].title }}</textarea>
                </div>
                <div class="form-group border-top">
                        <p> Categories : </p>
                        {% for item in categories %}
                        <div>
                        {% if item.name == dataPost[0].name %}
                        <input type="radio" name="cattegory" id="cattegory" value="{{ item.id }}" checked="checked">
                        {% else %}
                        <input type="radio" name="cattegory" id="cattegory" value="{{ item.id }}">
                        {% endif %}
                            <label for="cattegory">{{ item.name }}</label>
                        </div>
                        {% endfor %}
                </div>
                <!-- <div class="form-group ">
                        <label for="avatar">Avatar post</label>
                        <input type="file" name="avatar" id="avatar">
                </div> -->
                <div class="form-group border-top mt-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="5">{{ dataPost[0].description }}</textarea>
                </div>
        </div>	
        <div class="col-md-9 form-group">
                <label for="content">Content</label>
                <!-- <textarea class="content" name="content" id="texteditor">{{ dataPost[0].content  }}</textarea> -->
                <textarea class="content" name="content" id="texteditor">{{ dataPost[0].content | safe }}</textarea>

        </div>
        <div class="col-md-6 offset-md-3 mt-3 mb-3">
                <button type="submit" class="btn btn-primary btn-block"> ADD POST + </button>
        </div>
</div>
</form>
{% endblock %}
{% block bottom %}
<script> 
 CKEDITOR.replace('texteditor', {
	"extraPlugins" : 'imagebrowser',
        "imageBrowser_listUrl" : "/files"
});
</script>
{% endblock %}